


var dockergenRan = true,
    cadvisor = true,
    cadvisorPort = 8080,
    dockerUI = true,
    dockerUIPort = 9000,
    containers = [
{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
    {{ range $container := $containers }}
        {
            'id':'{{ $container.ID }}',
            'host':'{{ $host }}',
            'name':'{{ $container.Name }}',
            'image':'{{ $container.Image }}',
        },
    {{end}}
{{end}}
    ];



